https://www.tagtraum.com/msd_genre_datasets.html

In [1]:
import pandas as pd
import numpy as np
import os
import itertools

Loading songs and artists metadata

In [5]:
song_artist = pd.read_csv('valid_song_artist_data.csv')
song_artist.head()

,artist_7digitalid,artist_familiarity,artist_hotttnesss,artist_id,artist_latitude,artist_location,artist_longitude,artist_mbid,artist_name,artist_playmeid,...,song_hotttnesss,song_id,song_title,start_of_fade_out,tempo,time_signature,time_signature_confidence,title,track_7digitalid,track_id
0,4069,0.649822,0.394032,ARYZTJS1187B98C555,NaN,NaN,NaN,357ff05d-848a-44cf-b608-cb34b5701ae5,Faster Pussy cat,44895,...,0.542899,SOQMMHC12AB0180CB8,Silent Night,236.635,87.002,4,0.940,Silent Night,7032331,TRMMMYQ128F932D901
1,113480,0.439604,0.356992,ARMVN3U1187FB3A1EB,NaN,NaN,NaN,8d7ef530-a6fd-4f8f-b2e2-74aec765e0f9,Karkkiautomaatti,-1,...,0.299877,SOVFVAK12A8C1350D9,Tanssi vaan,148.660,150.778,1,0.000,Tanssi vaan,1514808,TRMMMKD128F425225D
2,63531,0.643681,0.437504,ARGEKB01187FB50750,55.8578,"Glasgow, Scotland",-4.24251,3d403d44-36ce-465c-ad43-ae877e65adc4,Hudson Mohawke,-1,...,0.617871,SOGTUKN12AB017F4F1,No One Could Ever,138.971,177.768,4,0.446,No One Could Ever,6945353,TRMMMRX128F93187D9
3,65051,0.448501,0.372349,ARNWYLR1187B9B2F9C,NaN,NaN,NaN,12be7648-7094-495f-90e6-df4189d68615,Yerba Brava,34000,...,NaN,SOBNYVR12A8C13558C,Si Vos Querés,138.687,87.433,4,0.000,Si Vos Querés,2168257,TRMMMCH128F425532C
4,158279,0.000000,0.000000,AREQDTE1269FB37231,NaN,NaN,NaN,NaN,Der Mystic,-1,...,NaN,SOHSBXH12A8C13B0DF,Tangle Of Aspens,506.717,140.035,4,0.315,Tangle Of Aspens,2264873,TRMMMWA128F426B589

In [6]:
song_artist.columns

Index(['artist_7digitalid', 'artist_familiarity', 'artist_hotttnesss',
       'artist_id', 'artist_latitude', 'artist_location', 'artist_longitude',
       'artist_mbid', 'artist_name', 'artist_playmeid', 'audio_md5',
       'duration', 'end_of_fade_in', 'key', 'key_confidence', 'loudness',
       'mode', 'mode_confidence', 'release', 'release_7digitalid',
       'song_hotttnesss', 'song_id', 'song_title', 'start_of_fade_out',
       'tempo', 'time_signature', 'time_signature_confidence', 'title',
       'track_7digitalid', 'track_id'],
      dtype='object')

In [7]:
song_artist.shape

(1001932, 30)

Loading in genres

https://www.tagtraum.com/genres/msd_beatunes_map.cls.zip

In [36]:
genres = pd.read_table('msd_beatunes_map.cls', skiprows=7, delimiter='\t', encoding_errors='ignore', on_bad_lines='skip',
                       header=None, names=['track_id', 'main_genre', 'n_taggers', *list(itertools.chain(*list(zip([f'genre_{i+1}' for i in range(17)], [f'confidence_{i+1}' for i in range(17)]))))])
genres.head()

,track_id,main_genre,n_taggers,genre_1,confidence_1,genre_2,confidence_2,genre_3,confidence_3,genre_4,...,genre_13,confidence_13,genre_14,confidence_14,genre_15,confidence_15,genre_16,confidence_16,genre_17,confidence_17
0,TRAAAAK128F9318786,Rock,201,Rock,0.676617,Metal,0.099502,Hard Rock,0.044776,Alternative,...,Alternative Rock/Rock,0.004975,Rock/Post-Grunge,0.004975,Hard Rock & Metal,0.004975,Music,0.004975,Other,0.004975
1,TRAAAAV128F421A322,Rock,8,Rock,0.500000,Punk,0.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRAAAAW128F429D538,Hip-Hop,133,Hip-Hop,0.488722,Hip-Hop/Rap,0.270677,Rap,0.090226,Hip-Hop (255),...,Hip Hip,0.007519,West Coast Rap,0.007519,Rap/Westcoast/Underground,0.007519,Classic Hip Hop,0.007519,Rock,0.007519
3,TRAAAAY128F42A73F0,World,1,World,1.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRAAABD128F429CF47,Rock,40,Rock,0.400000,Rock/Pop,0.150000,Oldies,0.100000,Unknown Genre,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Join the genres with song metadata

In [37]:
song_artist_genre = pd.merge(left=song_artist, right=genres, left_on='track_id', right_on='track_id', how='left')
song_artist_genre

,artist_7digitalid,artist_familiarity,artist_hotttnesss,artist_id,artist_latitude,artist_location,artist_longitude,artist_mbid,artist_name,artist_playmeid,...,genre_13,confidence_13,genre_14,confidence_14,genre_15,confidence_15,genre_16,confidence_16,genre_17,confidence_17
0,4069,0.649822,0.394032,ARYZTJS1187B98C555,NaN,NaN,NaN,357ff05d-848a-44cf-b608-cb34b5701ae5,Faster Pussy cat,44895,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,113480,0.439604,0.356992,ARMVN3U1187FB3A1EB,NaN,NaN,NaN,8d7ef530-a6fd-4f8f-b2e2-74aec765e0f9,Karkkiautomaatti,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63531,0.643681,0.437504,ARGEKB01187FB50750,55.8578,"Glasgow, Scotland",-4.24251,3d403d44-36ce-465c-ad43-ae877e65adc4,Hudson Mohawke,-1,...,Instrumental,0.005725,Dance,0.003817,Dance & DJ,0.003817,Ambient Funk Pop,0.003817,Glitch,0.003817
3,65051,0.448501,0.372349,ARNWYLR1187B9B2F9C,NaN,NaN,NaN,12be7648-7094-495f-90e6-df4189d68615,Yerba Brava,34000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,158279,0.000000,0.000000,AREQDTE1269FB37231,NaN,NaN,NaN,NaN,Der Mystic,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001927,27206,0.528617,0.411595,AR7Z4J81187FB3FC59,NaN,NaN,NaN,9d50cb20-7e42-45cc-b0dd-154c3e92a577,Kiko Navarro,150175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001928,51580,0.401500,0.374866,ART5FZD1187B9A7FCF,NaN,NaN,NaN,2357c400-9109-42b6-b3fe-9e2d9f8e3872,Kuldeep Manak,53321,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001929,95885,0.556918,0.336914,ARZ3R6M1187B9AF750,NaN,GERMANY,NaN,8b97e9c8-61f5-4615-9a96-276f24204e34,Gabriel Le Mar,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001930,90037,0.403668,0.256935,ARCMCOK1187B9B1073,NaN,NaN,NaN,4ac5f3de-c5ad-475e-ad50-41f1ef9dba20,Elude,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001931,329767,0.552977,0.454869,AR7PLM21187B990D08,NaN,NaN,NaN,3af2b07e-c91c-4160-9bda-f0b9e3144ed3,Texta,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

How many songs are missing genres

In [39]:
song_artist_genre['main_genre'].isna().sum() / song_artist_genre.shape[0]

0.32243705161627734

Around 32% of the songs are missing genres

**Joining the user data**

In [42]:
user_song = pd.read_csv('train_triplets.txt/train_triplets.txt',
                 delim_whitespace='\t', header=None, names=['user', 'song_id', 'play_count'])
user_song.head()

                                       user             song_id  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

                                       user             song_id  play_count
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995           1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9           1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B           2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22           1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494           1

In [43]:
df = pd.merge(left=user_song, right=song_artist_genre, left_on='song_id', right_on='song_id', how='left')  # Left join to capture all the user data, even if song info is missing
df.head()

,user,song_id,play_count,artist_7digitalid,artist_familiarity,artist_hotttnesss,artist_id,artist_latitude,artist_location,artist_longitude,...,genre_13,confidence_13,genre_14,confidence_14,genre_15,confidence_15,genre_16,confidence_16,genre_17,confidence_17
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,1613,0.832012,0.677482,ARC8CQZ1187B98DECA,NaN,"Galveston, TX",NaN,...,Singer/Songwriter,0.004929,Alt. Rock,0.004929,Surf Rock,0.004929,Soft Rock,0.004929,Other,0.004929
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAPDEY12A81C210A9,1,14048,0.580555,0.482492,ARHYUI71187FB48366,29.76045,"Houston, TX",-95.36978,...,.Piano Rock.Rnb.Soul.Billy Preston-Nothing Fro...,0.010000,*,0.010000,Retro Pop,0.010000,Soul/Funk,0.010000,R&B Soul,0.010000
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,16688,0.633119,0.417718,ARC1SF21187FB51D0F,NaN,NaN,NaN,...,Acid Jazz,0.009901,Chill,0.009901,Dance,0.007921,Guitar,0.007921,House,0.007921
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFNSP12AF72A0E22,1,27492,0.675339,0.509058,ARMS97V1187B99DD98,41.50075,NE,-99.68095,...,Folk/Rock,0.018265,Alternative & Punk,0.018265,Indie,0.013699,Alternative Country,0.013699,No Genre,0.013699
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBFOVM12A58A7D494,1,14494,0.650281,0.451749,ARI4V0E1187B9B6FC2,53.40977,"Liverpool, England",-2.97848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Popular genres

In [44]:
df['main_genre'].value_counts()[:10]

Rock          22701167
Pop            6055734
Hip-Hop        3119952
Electronic     2529596
R&B            1802938
Country        1321191
Latin          1133810
Soundtrack     1010415
Jazz            738954
Folk            669257
Name: main_genre, dtype: int64